body {
    background-color: #99b8c5;
    font-family:monospace;
 font-size: 3.0rem;
text-align: center;
}


.titles {
    color:#122d3d;
    font-family:'Courier New', Courier, monospace;
    
}

 #logo {
    color: #5a0e0e;
    font-family: 'monospace';
    background-color: rgba(95,144,177, 0.8);
    border: 10px solid #5a0e0e;
    font-size: 100%;
    padding: 100px;
    
}

.lists {
    list-style-position: inside;
    padding: 0;
}

.lists li {
    margin: 10px 0;
}

hr {
    margin-top: 10%;
    background-color: #5a0e0e;
    width: 100%;
    border: none;
    height: 5px;
}

.flex-container {
    display: flex;
    flex-direction: column;
  margin: 0 auto;
}

.section {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

@media (max-height: 800px) {
.flex-container {
    flex-direction: row;
 gap: 50px;
 justify-content: center;
 
}

.section {
    flex-direction: column;
    min-width: 200px;
    font-size: 1.4rem
}

.line {
    position: absolute;
    height: 0;
}
}

@media (max-width: 900px) {
    #logo {
        font-size: 5vw;
       padding: 40px;

    }

    body {
        font-size: 2.0rem;
        
    }
}

@media (max-width: 500px) {
   body {
    
    min-width: 300px;
   }
}